html{
	height: 100%;
}

body{
	width: 100%;
	margin: 0;
	background-image: url("../../assets/images/new_year_background.png");
	height:100%;
}

.container {
	width: 960px;
	margin: auto;
	padding-top: 100px;
	height: 100%;
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
	width: 100%;
	position: absolute;
	margin: 0px;
	border-bottom: 1px;
	border-bottom-style: solid;
	}

.name {
	background-color: #4aaaa5;
	width: 300px;
	text-align: center;
	float: left;
	margin-left: 160px;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #777777;
}

li {
	list-style: none;
	float: left;
}

nav{
	float: right;
	padding-right: 220px;
	margin-top: 15px;
}

.main {
	width: 650px;
	background-color: white;
	float: left;
	border: 1px;
	border-style: solid;
	border-color: #dddddd;
}

.main-portfolio {
	width: 650px;
	background-color: white;
	float: left;
	border: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-bottom: 2px;
}


.sidebar {
	width: 270px;
	background-color: white;
	float: left;
	text-align: center;
	margin-left: 30px;
	border: 1px;
	border-style: solid;
	border-color: #dddddd;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #666666;
	border-top: 8px;
	border-top-style: solid;
	border-color: #4aaaa5;
	height: 50px;
	overflow: hidden;
	margin-top: 10px;
}

.footerinfo {
	color: white;
	font-size: 10px;
	line-height: 35px;
}

#bioimage {
	float: left;
	padding-right: 10px;
}

.divider {
	padding-left: 5px;
	padding-right: 5px;
	color: #777777;
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

p, label, li {
	font-family: 'Arial', 'Helvetica-Neue', Helvetica, sans-serif;
	color: #777777;
}

.bio {
	padding: 0 23px 0 23px;
	line-height: 150%;
	font-size: 14px;
	color: #777777;
}

.about {
	padding-left: 23px;
}

.logo {
	color: white;
}

.titles {
	background-color: #4aaaa5;
	position: absolute;
	width: 200px;
	text-align: center;
	margin-top: -66px;
    height: 45px;
    color: white;
    line-height: 45px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.portfolioimage {
	float: left;
	padding: 2px 65px 10px 60px;
	position: relative;
}

.portfolio {
	padding-left: 23px;
}

.maindivider {
	width: 600px;
    background-color: #4aaaa5;
    height: 3px;
    border: 0;
}

.sidebardivider {
	width: 220px;
	background-color: #4aaaa5;
	border: 0;
	height: 2px;
}

button {
	background-color: #4aaaa5;
    border: 0;
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
}

form {
	padding: 10px 23px;
}

input {
	width: 596px;
    height: 15px;
}

textarea {
	width: 596px;
	height: 150px;
	resize: none;
}

.contact {
	padding-left: 23px;
}

.connect {
	padding: 5px;
}

a:hover {
	color: #4aaaa5;
}

.logo:hover{
	color: white;
}